<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zakiamahbubabdullah_farmer">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <queries>
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
    </queries>


    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TambahActivity"></activity>
        <activity android:name=".Firebase" />
        <activity android:name=".TentangKami" />
        <activity android:name=".HalamanAkhir" />
        <activity android:name=".Pisang" />
        <activity android:name=".RekapData" />
        <activity android:name=".Pembayaran" />
        <activity android:name=".DataDiri" />
        <activity android:name=".Kentang" />
        <activity android:name=".Jagung" />
        <activity android:name=".Terong" />
        <activity android:name=".Timun" />
        <activity android:name=".Mangga" />
        <activity android:name=".Apel" />
        <activity android:name=".Cabe" />
        <activity android:name=".ProdukSayur" />
        <activity android:name=".CabeRawit" />
        <activity android:name=".HalamanUtama" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>